<html>
    <head>
        <title>Payment Gateway</title>
    </head>
    <body>
        <h1>Payment Gateway</h1>
        <form action="payment" method="POST">
            <script 
             src="//checkout.stripe.com/v2/checkout.js"
             class="stripe-button"
             data-key="<%=key %>"
             data-amount="2500"
             data-currency="usd"
             data-name="craft products"
             data-description="Handmade arts and craft products"
             data-locale="auto">
            </script>
        </form>
    </body>
</html>