<!DOCTYPE html>
<html>
<head>
    <title>Payment Success</title>
    <style>
        body{
            display:flex;
            justify-content:center;
            align-items:center;
            height:100vh;
            background:#eaf1ff;
            font-family:Arial;
        }
        .box{
            background:white;
            padding:40px;
            border-radius:10px;
            text-align:center;
            box-shadow:0 0 10px rgba(0,0,0,0.2);
        }
        .box h1{
            color:green;
        }
    </style>
</head>
<body>

<div class="box">
    <h1>Payment Successful ✅</h1>
    <p>Amount: $25</p>
    <p>Transaction Completed</p>
    <p>Thank you for your payment!</p>
</div>

</body>
</html>